@import (less) "../node_modules/vuetify/dist/vuetify.css";

a > .v-chip .v-chip__content, .layoutOption .v-chip__content {
  cursor: pointer;
}
a.vchip {
  text-decoration: none;
}
blockquote {
  border-left: 2px solid #ddd;
  color: #6f6f6f;
  font-style: italic;
  margin-bottom: 1rem;
  padding: 0.5625rem 1.25rem 0.5625rem 1.1875rem;
  .v-icon {
    margin-right: .5rem;
  }
}
cite {
  border: 0;
  border-left: 2px solid #888;
  display: block;
  font-size: .9rem;
  margin: 1.5rem;
  padding: 1rem;
  width: 80%;
  & > blockquote {
    border: 0;
    padding-left: 0;
  }
}
code, pre {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  box-shadow: none;
  color: #d14;
  font-weight: normal;
  white-space: pre-wrap;
}
small {
  &.compact {
    display: inline-block;
    line-height: 1.4;
    width: 80%;
  }
}
table {
  background: #fff;
  border: solid 1px #ddd;
  margin-bottom: 1.25rem;
  table-layout: auto;
  word-break: normal;
  thead {
    background: #f5f5f5;
    tr th, tr td {
      font-size: 0.875rem;
      font-weight: bold;
      padding: 0.5rem 0.625rem 0.625rem;      
    }
  }
  tr th, tr td {
    display: table-cell;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 0.5625rem 0.625rem;
    text-align: left;    
  }
  tr.even, tr.alt, tr:nth-of-type(even) {
    background: #f9f9f9;
  }  
}
.dropcaps:first-letter {
	float: left;
	color: rgba(0,0,0,.5);
	font-size: 5rem;
	line-height: 4.125rem;
	padding: 2px 5px 0 0;
}
.hero {
  background-attachment: fixed;
  background-color: #333;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.fa-ul, .margin {
  margin-bottom: 1rem;
  li {
    margin-top: .5rem;
  }
}
.required label::after {
  content: "*";
  color: #f04124;
  margin-left: 0.4rem;
}
.vPostContent, .vCommentContent {
  word-break: break-word;
  img {
    max-width: 100%;
    height: auto;
  }
}
.version { 
  td {
    font-size: .9rem;
    i { margin-right: .5rem; }
  }
  &.fixes td i {
    color: #f04124;
    line-height: 1rem;
  }
  &.features td i {
    color: #4caf50;
    line-height: 1rem;
  }
}
.v-breadcrumbs li .v-icon {
  color: #757575;
  line-height: 1.1;
  margin-right: .5rem;
}
.v-breadcrumbs__divider {
  color: #f04124!important;
}
.v-breadcrumbs__item {
  color: #BDBDBD;
  font-size: .8rem;
  &:hover {
    color: #f04124;
  }
}
.v-breadcrumbs__item--disabled {
  color: #757575!important;
}
.v-expansion-panel {
  img {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin: .5rem 0;
    max-width: 100%;
    padding: 5px;
  }
}
.v-pagination__navigation .v-icon {
  font-size: 1.2rem;
}
.storywrapper .v-expansion-panel li:not(:first-child) .v-expansion-panel__header {
  border-top: 1px solid #26A69A;
}